* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-image: url(./bg/beautiful-nature-2675322_1280.jpg);
  background-color: rgb(134, 134, 134);
  background-blend-mode: overlay;
/*
  display: flex;
  justify-content: center;
  align-items: center;
*/
    
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
  width: 100%;
  height: 2.5rem;
  
  display: flex;
  justify-content:center;
  align-items: center;
  position: fixed;

  padding: 10px;

  bottom: 20px;

  gap: 10px;
}

nav button {
  font-size: 1.5rem;
  width: 8rem;
  border-radius: 15px;
  border: none;
  transition: 0.2s;
  cursor: pointer;
  text-align: center;
}

.active {
    background-color:darkmagenta;
    color: white;
}

/* Estilos para o slide */
.slide-container {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 40rem;
  height: 25rem;
  overflow: hidden;
  display: block;
  box-shadow: 0 0 15px black;
  transition: 0.3s;
}

.display-two {
  border-radius: 50%;
}

.display-three {
  border-radius: 30px;
  border: 10px solid black;
  box-shadow: 0 0 15px black;
}

.vintage {
  border-radius: 50%;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  object-fit: cover;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilos para os botões */
.slide-controls {
  text-align: center;

  margin-top: 10px;

  width: 42%;

  display: flex;
  justify-content: space-between;

  position: absolute;
  z-index: 9999;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide-controls button {
  background-color: #333;

  cursor: pointer;

  border: none;

  background: none;
}

.slide-controls button i {
  color:rgba(255, 255, 255, 0.475);
  font-size: 2rem;
}


@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  body {
    background-color: #a9aec979;
  }

  .slide-container {
    width: 98%;
    height: 40vh;
  }

  nav {
      width: 100%;
      text-align: center;
  }

  nav button {
      font-size: 1.2rem;
      width: 6rem;
  }

  .slide-controls {
      width: 90%;
  }
}